.content_header{
    font-size: 3vw;
    color: #181818;
    text-align: left;
    line-height: 50px;
    display: block;
}

.content_header::after{
    content: '';
    display: block;
    position: relative;
    width: 80px;
    height: 4px;
    background-color: #EF6700;
}

.content_desc {
    color: #444444;
    font-size: 1.3vw;
    text-align: left;
    margin-top: 20px;
}

.img_width{
    width: 100%;
}

.read_more_btn{
    border: 2px solid #EF6700;
    background-color: #fff;
    color: #EF6700;
    font-size: 1.2vw;
    margin-top: 16px;
    padding: 12px 15px;
    border-radius: 4px;
}

.read_more_btn_text{
    color: #EF6700;
    text-decoration: none;
}

.read_more_btn:hover .read_more_btn_text{
    color: #EF6700;
    text-decoration: none;
}

@media only screen and (max-width: 479px){
    .content_header{
        font-size: 6vw;
        line-height: 35px;
    }
    .content_desc{
        font-size: 4.3vw;
    }
    .read_more_btn{
        font-size: 4vw;
    }
}