.parallax_effect{
    position: absolute;
    top: 100%;
}
.testimonies_subtext{
    color: #444444;
    font-size: 1.3vw;
    text-align: center;
    margin-bottom: 50px;
}

.doctors_block_header{
    text-align: center;
    font-size: 3vw;
    color: #181818;
    display: block;
    padding-top: 50px;
    margin-bottom: 50px;
}

.doctors_block_header::after{
    content: '';
    display: block;
    position: relative;
    width: 80px;
    height: 4px;
    background-color: #EF6700;
    margin: 0 auto;
}

.testimonies_card{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #dedede;
}

.testimonies_card_client_name{
    text-align: center;
    color: #2B2B2B;
    font-weight: 600;
    font-size: 1.4vw;
}

.testimonies_card_client_address{
    text-align: center;
    color: #2B2B2B;
    font-size: 1.4vw;
}

@media only screen and (max-width: 479px){
    .doctors_block_header{
        font-size: 6vw;
    }
    .testimonies_subtext, .testimonies_card_client_name, .testimonies_card_client_address{
        font-size: 4.3vw;
    }
}